@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Global Reset ===== */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F5F7F6;
}

/* Smooth rendering */
* {
  box-sizing: border-box;
}